# QR Code Generator temporary files
qr_script.scr
qr_temp.txt
TempCSVFile.csv
TempLocalizationFile.csv
Emplacement des ULP USER
Emplacement des ULP Fusion
Make Realease archives.app
qr_code_generator_mac.zip
qr_code_generator_win.zip

qr_script copy.scr
qr.ulp

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg 